/* ГЛАВНЫЕ СТИЛИ ДЛЯ ВСЕГО ДОКУМЕНТА */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header {
    background-color: #222;
    height: 75px;
}

.header__center {
    height: 100%;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}
.header__right {
    display: flex;
    align-items: center;
}

.header__icon1 {
    margin-right: 41px;
}
.header__icon2 {
    padding-top: 9px;
}
.header__icon4 {
    margin-left: 33px;
    margin-right: 33px;
}

/* MAIN */
/* HERO */
.section__hero {
    background-color: #F1E4E6;
    height: 764px;
}
.hero__center {
    width: 1140px;
    margin: 0 auto;
    display: flex;;
}
.hero__left {
    width: 50%;
}
.hero__img {
    margin-left: -227px;
}

.hero__right {
    width: 50%;
    height: 92px;
    margin-top: 290px;
    margin-left: 64px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    font-family: Lato;
}
.hero__p_big {
    font-size: 48px;
    font-weight: 900;
}
.hero__p_small {
    font-size: 32px;
    font-weight: 700;
}
.hero__p_small span {
    color: #F16D7F;
}


/* OFFER */
.section__offer {
    /* height: 300px; */
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.offer__center {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.offer__row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.offer__small1 {
    width: 360px;
    height: 260px;
    display: flex;         
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(rgba(33, 22, 22, 0.5), rgba(33, 22, 22, 0.5)), url(img/offer1.png);
}

.offer__small1 span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
}

.offer__small1 p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
}

.offer__small2 {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(rgba(33, 22, 22, 0.5), rgba(33, 22, 22, 0.5)),  url(img/offer2.png);
}

.offer__small2 span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
}

.offer__small2 p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
}

.offer__small3 {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(rgba(33, 22, 22, 0.5), rgba(33, 22, 22, 0.5)),  url(img/offer3.png);
}

.offer__small3 span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
}

.offer__small3 p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
}

.offer__big {
    width: 1140px;
    height: 180px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(rgba(33, 22, 22, 0.5), rgba(33, 22, 22, 0.5)),  url(img/offer4.png);
}

.offer__big span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    font-family: Lato;
}

.offer__big p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
}

/* PRODUCTS */
.section__products {
    padding: 100px 0;
    background: #fff;
}

.products__center {
    max-width: 1140px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.products__center h2 {
    font-family: Lato;
    text-align: center;
    color: #222224;
    margin-bottom: 6px;
}

.products__center p {
    font-family: Lato;
    text-align: center;
    font-size: 14px;
    color: #5D5D5D;
    margin: 0;
}

.products__center span {
    font-family: Lato;
    font-size: 13px;
    color: #000000;
    margin: 10px;
}

.product__box {
    display: grid; 
    grid-template-columns: repeat(3, 360px); 
    gap: 25px;
    justify-content: center; 
    margin-top: 50px;
}

.product__item {
    position: relative;
    height: 581px;
    background-color: #F8F8F8;
    border: 1px solid #fff;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
    
    transition: box-shadow 0.4s ease, border 0.4s ease; 
}

.product__item:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.20);
    border-color: #000000;
}

.product_btn {
    position: absolute;
    top: 188px;        
    left: 110.5px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-family: Lato;
    font-size: 14px;
    padding: 16px;
    opacity: 0;
    width: 139px;
    height: 44px;
    background: transparent;
    color: #fff;            
    border: 1px solid #fff; 

    transition: all 0.4s ease, opacity 0.4s ease;
}

.product_btn_cart {
    width: 26px;
    height: 23.97px;
}

.product__item:hover .product_btn {
    opacity: 1; 
}

.product_img {
    width: 360px;
    height: 420px;
    object-fit: contain;  
    background-color: #F7E4E2;
    
    transition: background-color 0.4s ease;
}

.product__item:hover .product_img {
    filter: brightness(0.4); 
}

.product__content {
    font-family: Lato;
    padding: 16px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product__content span {
    margin: 0;
    color: #000000; 
}

.product__content p {
    text-align: left;   
    color: #5D5D5D; 
}

#product__price {
    color: #F16D7F;
}

.product__button {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Lato;
    width: 212px;
    height: 48px;
    background-color: #ffffff;
    color: #F16D7F;            
    border: 1px solid #F16D7F; 
    margin: 70px auto;

    transition: all 0.4s ease
}

.product__button:hover {
    background-color: #F16D7F;
    color: #ffffff;
}

/* FOOTER */

.footer__bottom {
    padding: 100px 20px;
    background: #222224;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.small__offer {
    color:  #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    text-align: center;
}

.small__offer p {
    font-weight: 400px;
    font-size: 19.96px;
    font-weight: 500; 
    margin: 25px 0 20px 0; 
    line-height: 1.2;
}

.small__offer span {
    font-weight: light;
    font-size: 13.97px;
    font-weight: 300;
    color: #FBFBFB;
    line-height: 1.5; 
    display: block; 
}

.footer__subscribe {
    background-color: #F4F4F4;
}

.footer__layer {
    width: 100%;
    height: 448px;
    opacity: 0.3;
    min-height: 448px;
}

.footer__content {

}

.footer__avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
}

.footer__copyright {

}